<p>
	<strong>{{date-string}}</strong>
	&mdash;
	A total of 278 contributions, each dealing with a particular name/clade combination, have been received.
	Of these, 10 were subsequently either rejected or withdrawn by the authors.
	<strong>Of the remaining 268 contributions</strong>, 259 have received two external reviews, and <strong>186 (69.4%) have been accepted</strong>.
</p>
<p>
	Of the 82 contributions that were not rejected or withdrawn but are not yet accepted: 
	<ul>
		<li>9 (11.0%) are awaiting a second external review</li>
		<li>16 (19.5%) are awaiting revision by the authors in response to the external reviews</li>
		<li>31 (37.8%) have been initially revised by the authors but not accepted by the primary editor<a href="#footnote1">*</a></li>
		<li>1 (1.2%) is awaiting review by the secondary editors</li>
		<li>25 (30.5%) are awaiting revision by the authors in response to comments from the secondary editors</li>
	</ul>
</p>
<p id="footnote1">
	<small>
		* Processing of the revised manuscript by the primary editor sometimes requires several exchanges of drafts before the editor is fully satisfied with the revision, so this step can take months.
	</small>
</p>
<p> 
	In summary, of the 82 contributions that were not rejected or withdrawn by the authors and are not yet accepted, exactly half are awaiting external review or processing by the editors, and half are in the hands of the authors.
	<strong>The contract with <a href="http://www.ucpress.edu/">University of California Press</a> calls for the manuscript to be submitted by September 1, 2014.</strong>
	We are still hoping to meet that deadline, though this will require working at a faster pace for the coming 11 months than we have up 
until now.
	The three editors will do everything we can to meet the deadline, but this will also require that the authors who have not yet sent us their revisions do so soon (41 contributions are presently in the authors' "court"). 
</p>
<small>
	Report prepared by Phil Cantino with input from Kevin de Queiroz and Jacques Gauthier.
</small>
