				<section id="about">
					<h1>About the ISPN</h1>
					<p>
						The <strong>International Society for Phylogenetic Nomenclature</strong> was established to encourage and facilitate the development and use of, and communication about, phylogenetic nomenclature.
						Toward this end, the ISPN organizes periodic <strong>scientific meetings</strong> and is overseeing the completion and implementation of a <strong>code of rules</strong> to govern phylogenetic nomenclature &mdash; the <a href="http://phylocode.org" class="title">PhyloCode</a>.
					</p>
					<p>
						The ISPN is governed by a <strong><a href="#council">Council</a></strong>, of which all members except the Program Director are elected.
						For more information, see the <a href="/pdf/ISPN_bylaws.pdf">Bylaws</a>.
					</p>
					<p>
						The ISPN maintains two <strong>committees</strong> whose responsibilities pertain directly to the functioning of the <span class="title">PhyloCode</span>: the <a href="#cpn">Committee on Phylogenetic Nomenclature</a> (CPN) and the <a href="#reg">Registration Committee</a>.
						The members of both committees are elected by the ISPN membership.
					</p>
					<p>
						The CPN is responsible for reviewing and approving changes in the draft <span class="title">PhyloCode</span>, leading to its implementation.
						After implementation of the code, the CPN will rule on proposals for conservation or suppression of names, resolve ambiguities in the provisions of the code, amend the provisions of the code, and produce future editions of it.
					</p>
					<p>
						The Registration Committee is responsible for managing the online registration database for names governed by the <span class="title">PhyloCode</span>.
					</p>
					<p>
						Anyone who is interested in phylogenetic nomenclature is encouraged to <strong><a href="/membership">join</a></strong> the ISPN.
					</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick" />
						<input type="hidden" name="business" value="ncellinese@ufl.edu" />
						<input type="hidden" name="item_name" value="Make a donation to the Society" />
						<input type="hidden" name="no_shipping" value="0" />
						<input type="hidden" name="no_note" value="1" />
						<input type="hidden" name="currency_code" value="USD" />
						<input type="hidden" name="tax" value="0" />
						<input type="hidden" name="lc" value="US" />
						<input type="hidden" name="bn" value="PP-DonationsBF" />
						<p>
							<strong>The Society welcomes donations!</strong>
							<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Make a donation to the Society through PayPal" title="Make a donation to the Society through PayPal" align="middle" />
							<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
						</p>
					</form>
				</section>
				<section id="council">
					<h2>Members of the ISPN Council</h2>
					<p>
						List per year as a PDF file: <a href="./pdf/ispn_council_cpn_members.pdf" class="btn btn-info">Download <i class="glyphicon glyphicon-download"></i></a>
					</p>
					<h3>Officers</h3>
					<dl class="dl-horizontal">
						<dt>President</dt>
						<dd>Nico Cellinese (University of Florida), <script type="text/javascript">befuddle_epadr("ncellinese","flmnh.ufl.edu");</script></dd>
						<dt>Past-President</dt>
						<dd>Julia Clarke (University of Texas), <script type="text/javascript">befuddle_epadr("Julia_Clarke","jsg.utexas.edu");</script></dd>
						<dt>President-elect</dt>
						<dd>Kevin Padian (University of California, Berkeley), <script type="text/javascript">befuddle_epadr("kpadian","berkeley.edu");</script></dd>
						<dt>Secretary</dt>
						<dd>Michel Laurin (CNRS, Paris),  <script type="text/javascript">befuddle_epadr("michel.laurin","upmc.fr");</script></dd>
						<dt>Treasurer</dt>
						<dd>Michael Keesey, <script type="text/javascript">befuddle_epadr("keesey","gmail.com");</script></dd>
						<dt>Program Director</dt>
						<dd class="muted">none currently appointed</dd>
					</dl>
					<h3>Council Members at Large</h3>
					<dl class="dl-horizontal">
						<dt>2012</dt>
						<dd>Sean Graham (University of British Columbia), <script type="text/javascript">befuddle_epadr("swgraham","interchange.ubc.ca");</script></dd>
						<dt>2013</dt>
						<dd>David Cannatella (University of Texas), <script type="text/javascript">befuddle_epadr("catfish","mail.utexas.edu");</script></dd>
						<dd>Micah Dunthorn (University of Kaiserslautern), <script type="text/javascript">befuddle_epadr("dunthorn","rhrk.uni-kl.de");</script></dd>
						<dt>2014</dt>
						<dd>Philip Cantino (Ohio University), <script type="text/javascript">befuddle_epadr("cantino","ohio.edu");</script></dd>
						<dd>Mieczyslaw Wolsan (Polish Academy of Sciences), <script type="text/javascript">befuddle_epadr("wolsan","miiz.waw.pl");</script></dd>
					</dl>
				</section>
				<section id="committees">
					<h2>ISPN Committees</h2>
					<section id="cpn">
						<h3>Committee on Phylogenetic Nomenclature</h3>
						<dl class="dl-horizontal">
							<dt>2012</dt>
							<dd>Brian Andres (University of South Florida), <script language="JavaScript" type="text/javascript">befuddle_epadr("brian.andres","aya.yale.edu");</script></dd>
							<dd>Walter Joyce (Universit&auml;t T&uuml;bingen), <script language="JavaScript" type="text/javascript">befuddle_epadr("walter.joyce","uni-tuebingen.de");</script></dd>
							<dd>Michael Keesey, <script language="JavaScript" type="text/javascript">befuddle_epadr("keesey","gmail.com");</script></dd>
							<dd>David Tank (University of Idaho), <script language="JavaScript" type="text/javascript">befuddle_epadr("dtank","uidaho.edu");</script></dd>
							<dt>2013</dt>
							<dd>Kevin de Queiroz (Smithsonian Institution), <script language="JavaScript" type="text/javascript">befuddle_epadr("dequeirozk","si.edu");</script></dd>
							<dd>Jacques A. Gauthier (Yale University), <script language="JavaScript" type="text/javascript">befuddle_epadr("jacques.gauthier","yale.edu");</script></dd>
							<dd>Richard Olmstead (University of Washington), <script language="JavaScript" type="text/javascript">befuddle_epadr("olmstead","u.washington.edu");</script></dd>
							<dd>Kevin Padian (University of California, Berkeley), <script language="JavaScript" type="text/javascript">befuddle_epadr("kpadian","berkeley.edu");</script></dd>
							<dt>2014</dt>
							<dd>Frank (Andy) Anderson (Southern Illinois University), <script language="JavaScript" type="text/javascript">befuddle_epadr("feander","siu.edu");</script></dd>
							<dd>Philip D. Cantino (Ohio University), <script language="JavaScript" type="text/javascript">befuddle_epadr("cantino","ohio.edu");</script></dd>
							<dd>Michel Laurin (CNRS, Paris), <script language="JavaScript" type="text/javascript">befuddle_epadr("michel.laurin","upmc.fr");</script></dd>
							<dd>David Marjanovi&#263; (&Eacute;quipe Squelette des Vert&eacute;br&eacute;s, UMR7179, Paris), <script language="JavaScript" type="text/javascript">befuddle_epadr("david.marjanovic","gmx.at");</script></dd>
						</dl>
					</section>
					<section id="reg">
						<h3>Registration Committee</h3>
						<dl class="dl-horizontal">
							<dt>2011</dt>
							<dd>Nico Cellinese (University of Florida), Chair, <script language="JavaScript" type="text/javascript">befuddle_epadr("ncellinese","flmnh.ufl.edu");</script></dd>
							<dd>Torsten Eriksson (Swedish Museum of Natural History), <script language="JavaScript" type="text/javascript">befuddle_epadr("torsten.eriksson","nrm.se");</script></dd>
							<dd>Michael Keesey, <script language="JavaScript" type="text/javascript">befuddle_epadr("keesey","gmail.com");</script></dd>
							<dd>William Piel (Yale University), <script language="JavaScript" type="text/javascript">befuddle_epadr("william.piel","yale.edu");</script></dd>
						</dl>
					</section>
					<section id="publicity">
						<h3>Publicity Committee</h3>
						<dl class="dl-horizontal">
							<dt>2011</dt>
							<dd>Torsten Eriksson (Swedish Museum of Natural History), <script language="JavaScript" type="text/javascript">befuddle_epadr("torsten.eriksson","nrm.se");</script></dd>
							<dd>Michael Keesey, <script language="JavaScript" type="text/javascript">befuddle_epadr("keesey","gmail.com");</script></dd>
							<dd>David Marjanovi&#263; (&Eacute;quipe Squelette des Vert&eacute;br&eacute;s, UMR7179, Paris), <script language="JavaScript" type="text/javascript">befuddle_epadr("david.marjanovic","gmx.at");</script></dd>
						</dl>
					</section>
					<section id="nominations">
						<h3>Nominations Committee</h3>
						<dl class="dl-horizontal">
							<dt>2011</dt>
							<dd>Tom Artois (University of Hasselt), <script language="JavaScript" type="text/javascript">befuddle_epadr("tom.artois","uhasselt.be");</script></dd>
							<dd>Philip D. Cantino (Ohio University), <script language="JavaScript" type="text/javascript">befuddle_epadr("cantino","ohio.edu");</script></dd>
							<dd>Julia Clarke (University of Texas), <script type="text/javascript">befuddle_epadr("Julia_Clarke","jsg.utexas.edu");</script></dd>
							<dd>Mikael Thollesson (Uppsala University), <script language="JavaScript" type="text/javascript">befuddle_epadr("mikael.thollesson","ebc.uu.se");</script></dd>
						</dl>
					</section>
				</section>