<p>
	<strong>{{date-string}}</strong>
	&mdash;
	As of February 22, 2016, a total of 301 contributions have been received, each dealing with a particular name/clade combination.
	Of these, 13 were subsequently either rejected or withdrawn or abandoned by the authors.
	Of the remaining 288 contributions, 251 (87%) have been accepted.
</p>
<p>
	Of the 37 contributions that were not rejected or withdrawn but are not yet accepted, 31 are awaiting revision by the authors, and 6 are in the hands of an editor.
	The 37 contributions that are still in progress were submitted by 10 authors or sets of authors.
</p>
<small>
	Report prepared by Phil Cantino with input from Kevin de Queiroz and Jacques Gauthier.
</small>
