				<section id="subnav" class="col-sm-4">
					<nav>
						<ul id="literature-nav" class="nav nav-pills nav-stacked">
						  {{#literature}}
						  <li><a href="#{{id}}">{{title}}</a></li>
						  {{/literature}}
						</ul>
					</nav>
				</section>