<p>
	<strong>{{date-string}}</strong>
	&mdash;
	Nico Cellinese, Brent Mishler, and David Baum recently brought forward a proposal to amend the <i>PhyloCode</i> with respect to species (link to <abbr class="initialism">PDF</abbr> file below).
	As the first substantial proposed change to the code in quite some time, we think that it is very important to give the society and the community a chance to provide feedback to the <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> on this proposal.
	As such, the <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> has voted in favor of the following:
</p>
<blockquote>
	&quot;The <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> approves the posting on the <abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr> website of the Cellinese et al. proposal regarding species, with the understanding that a vote of approval does not imply that all future proposals to the <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> for modification of the draft <i>PhyloCode</i> will be posted.
	The posting will be accompanied by a statement encouraging members of the scientific community to send their comments to the <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> Secretary.&quot;
</blockquote>
<p>
	Therefore, anyone interested in commenting on the proposal, please read the linked document and send comments to the <abbr title="Committee on Phylogenetic Nomenclature">CPN</abbr> Secretary, David Marjanović (<script type="text/javascript">befuddle_epadr('david.marjanovic','gmx.at')</script>). before the end of December 2011.
</p>
<a href="/pdf/Proposal_Cellinese_Mishler_Baum.pdf" class="btn btn-large btn-primary">
	<i class="glyphicon glyphicon-download"></i>
	Download the Proposal (<abbr class="initialism">PDF</abbr>)
</a>
