<p>
	<strong>{{date-string}}</strong>
	&mdash;
	A new version (5) of the <cite><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></cite>, which differs substantially from the version currently posted on the <cite>PhyloCode</cite> website (<a href="/code/documents/">version 4c</a>), was approved by the Committee on Phylogenetic Nomenclature in January 2014. It will be posted at <a href="/code" class="website url">www.phylocode.org</a> once the Preface and Index have been completed. In the meanwhile, a beta version is available on request from Phil Cantino (<script type="text/javascript">befuddle_epadr("cantino","ohio.edu");</script>).
</p>
