<p>
	<strong>{{date-string}}</strong>
	&mdash;
	The <i>Companion Volume</i> will serve both as a starting point for phylogenetic nomenclature as governed by the <i><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></i> and as a set of examples for others who would like to adopt the approach.
	It is a large and complex project, with scores of contributors and hundreds of contributions.
	The volume is progressing more slowly than people (particularly the authors and editors) had hoped; nevertheless, significant progress has been made.
</p>
<p>
	As of September 2011, 228 contributions have been received, each dealing with a particular name/clade combination.
	Of those 228 contributions, 169 (74%) have been reviewed (= at least two reviews have been received for all of these contributions), and 10 (04%) have been accepted (= approved by all three editors).
	Note that the second category (reviewed) is highly heterogeneous and includes everything from contributions for which we have received reviews but done no further processing to those that, in addition to having been reviewed, have been returned to the authors, revised, resubmitted, and approved by one or two of the editors.
	To provide a bit more information, roughly 80 (47%) of the 169 contributions that have been reviewed have been approved by at least one of the editors, and roughly 60 (36%) have been approved by two of the three editors (= require approval by only one additional editor before they are considered accepted).
</p>
<p>
	On a related note, several people have reported that they have heard others say that the <i>Companion Volume</i> and/or the <i><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></i> is/are dead.
	Perhaps this is wishful thinking on the part of our detractors; in any case, nothing could be further from the truth.
	The <i><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></i> itself has been accepted for publication.
	The only reason that it is not already published is that we have deliberately delayed publication until the <i>Companion Volume</i> is completed.
	As noted above, considerable progress has been made on the <i>Companion Volume</i>, though more work remains.
	Perhaps the doubters have formed their opinions based on a perception of inactivity, given that the <abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr> has not met for several years and neither the <i><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></i> nor the <i>Companion Volume</i> has been published.
	If so, that perception would be erroneous.
	Despite the lack of publicly visible activity, a tremendous amount of work has been going on behind the scenes on the parts of authors, reviewers, and editors.
</p>
<p>
	Nevertheless, the project is large and difficult to manage.
	Some authors seem to be hedging their bets by waiting to see if the volume is really going to be completed before sending in their own contributions or revisions.
	If everyone were to adopt this attitude, progress would quickly come to a halt.
	I have presented information above that I hope will assure authors that progress is being made and that the volume will be published.
	However, one of the most difficult tasks for the editors is having to remind authors and reviewers, often repeatedly, to turn in their contributions, reviews, and revised manuscripts.
	If authors want to help the project move forward, it would be a great help to the editors if you would submit your revised manuscripts promptly, and to have patience if we don’t turn things around as quickly as you do.
	Thank you. 
</p>
<p>
	Kevin de Queiroz
	<br>
	Co-Editor, <i><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr> Companion Volume</i>
</p>