a{color:#dd9040}
body{margin:50px 0;background-repeat:repeat-y}
h1, h2, h3, h4, h5, h6 {margin-top:0;padding-top:0}
section{padding-top:50px}
#content{padding:0 3em 100px}
#news{padding:3em 3em 100px}
#news h2{font-size:18px;margin:0 0 1.5em;color:#dd9040}
#news .btn-default{color:#dd9040}
.navbar-inverse{background:#444}
.scientific{font-style:italic}