<section id="intro">
	<h1>
		News
		<small>Latest and Archived</small>
	</h1>
	{{#items}}
	<section id="{{id}}" class="panel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">{{{title}}}</span>
			</div>
			<div class="panel-body">{{{summary}}}</div>
			{{#href}}
			<div class="panel-footer text-right">
				<a href="{{href}}">
					{{{action}}}
					<i class="glyphicon glyphicon-arrow-right"></i>
				</a>
			</div>
			{{/href}}
		</div>
	</section>
	{{/items}}
</section>
