<section>
	<h1>
		News
		<small>Latest and Archived</small>
	</h1>
	<table class="table">
		{{#news}}
		<tr id="{{id}}">
			<td style="white-space: nowrap">
				<small>{{date}}</small>
			</td>
			<td>
				<h4 style="display: inline">{{{title}}}<br><small>{{{summary}}}</small></h4>
				{{#href}}
				<a href="{{href}}" class="pull-right">
					{{{action}}}
					<i class="glyphicon glyphicon-arrow-right"></i>
				</a>
				{{/href}}
			</td>
		</tr>
		{{/news}}
	</table>
</section>
