					<br>
					<br>
					<p class="lead">
						Welcome to the website of the
						<br>
						<strong>International Society for Phylogenetic Nomenclature</strong>.
					</p>
					<p>
						The <strong><abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr></strong> encourages the development and use of phylogenetic nomenclature and is overseeing the completion and implementation of a code of rules to govern phylogenetic nomenclature &mdash; the <a href="//phylocode.org/"><strong><abbr title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></strong></a>.
					</p>
					<p>
						The society is <a href="/membership">open</a> to anyone wishing to partake in this venture.
					</p>
