		<footer class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">
					<small>
						<span style="white-space:nowrap">
							<span class="glyphicon glyphicon-copyright-mark" title="Copyright ©"></span> {{{year}}} <abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr>
						</span>
						&emsp;
						<span style="white-space:nowrap">
							<span class="glyphicon glyphicon-envelope" title="Contact"></span>
							<a href="mailto:webmaster@phylonames.org">webmaster@phylonames.org</a>
							(Mike Keesey)
						</span>
						&emsp;
						<span style="white-space:nowrap">
							<span class="glyphicon glyphicon-cog"></span>
							Uses <a href="http://getbootstrap.com/">Bootstrap 3.0.0</a> with <a href="http://glyphicons.com/">Glyphicons</a>
						</span>
						&emsp;
						<span style="color:#fff">
							<span style="white-space:nowrap">
								Follow us
							</span>
							<a href="//twitter.com/PhyloNames">
								<img src="/images/social/glyphicons_social_31_twitter.png" width="24" height="24" alt="@PhyloNames on Twitter">
							</a>
							<a href="//www.facebook.com/pages/The-PhyloCode/198050947076">
								<img src="/images/social/glyphicons_social_30_facebook.png" width="24" height="24" alt="The PhyloCode on Facebook">
							</a>
						</span>
					</small>
				</p>
			</div>
		</footer>
	</body>
</html>
