		<footer class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text">
					Copyright &copy; {{{year}}} The International Society for Phylogenetic Nomenclature.
					All rights reserved.
					Contact: <a href="mailto:webmaster@phylonames.org">webmaster@phylonames.org</a>
				</p>
			</div>
		</footer>
	</body>
</html>
