				<section id="news" class="col-sm-4 sidebar">
					<h2>News</h2>
					{{#news}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="panel-title">{{{title}}}</span>
						</div>
						<div class="panel-body">{{{summary}}}</div>
						<div class="panel-footer text-right">
							<a href="news/{{{id}}}">
								{{{action}}}
								<i class="glyphicon glyphicon-arrow-right"></i>
							</a>
						</div>
					</div>
					{{/news}}
					<div class="text-right">
						<a href="/news" class="btn btn-default">
							Archived News Items
							<i class="glyphicon glyphicon-arrow-right"></i>
						</a>
					</div>
				</section>