<p>
	<strong>{{date-string}}</strong>
	&mdash;
	As of today, a total of 289 contributions, each dealing with a particular name/clade combination, have been received.
	Of these, 11 were subsequently either rejected or withdrawn by the authors.
	<strong>Of the remaining 278 contributions</strong>, 268 have received two external reviews, and <strong>211 (76%) have been accepted.</strong>
</p>
<p>
	Of the 67 contributions that were not rejected or withdrawn but are not yet accepted: 
	<ul>
		<li>12 (18%) are awaiting a second external review or have not yet been processed by the primary editor after receiving the reviews</li>
		<li>14 (21%) are awaiting revision by the authors in response to the external reviews</li>
		<li>24 (36%) have been initially revised by the authors but not accepted by the primary editor<a href="#footnote1">*</a></li>
		<li>17 (25%) are awaiting revision by the authors in response to comments from the secondary editors</li>
	</ul>
</p>
<p id="footnote1">
	<small>
		* Processing of the revised manuscript by the primary editor sometimes requires several exchanges of drafts before the editor is fully satisfied with the revision, so this step can take months.
	</small>
</p>
<p> 
	In summary, of the 67 contributions that were not rejected or withdrawn by the authors and are not yet accepted, 36 are awaiting external review or processing by the primary editor, and 31 are in the hands of the authors.
</p>
<small>
	Report prepared by Phil Cantino with input from Kevin de Queiroz and Jacques Gauthier.
</small>
