<section id="intro">
	<h1>How to Join</h1>
	<p>
		The <strong>International Society for Phylogenetic Nomenclature</strong> (<abbr><strong>ISPN</strong></abbr>) is a not-for-profit organization that supports the development of phylogenetic nomenclature.
		Memberships are by the calendar year (January 1 to December 31).
		You may join by using one of these options:
	</p>
	<ul>
		<li>
			<strong>Pay via PayPal&trade;</strong> using any major credit card on their secure site.
			(You do not need a PayPal&trade; account).
			See <a href="#membershiptypes">Membership Types</a>, below, and click on the appropriate <i><b>Pay Now</b></i> button.
		</li>
		<li>Fill out the <a href="pdf/ISPN_MembForm.pdf">membership form</a> and send payment to the Treasurer, using one of these options:
			<ul>
				<li><strong>Check</strong> (U.S. only)</li>
				<li><strong>Bank draft</strong> (contact the Treasurer for details)</li>
			</ul>
	</ul>
	<dl>
		<dt>Treasurer</dt>
		<dd>
			<address>
				T. Michael Keesey<br>
			  	P.O. Box 9630<br>
			  	Glendale, CA 91226<br>
			  	U.S.A.
			  	<script type="text/javascript">befuddle_epadr("keesey","gmail.com");</script>
			</address>
		</dd>
	</dl>
</section>
<section id="membershiptypes">
	<h2>Membership Types</h2>
	<table class="table table-striped">
		<tbody>
			<tr id="regularmember">
				<th>Regular Member</th>
				<td></td>
				<td class="text-right">$40</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Regular membership">
						<input type="hidden" name="amount" value="40.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay regular membership fee through PayPal" alt="Pay regular membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr id="regularfamilymember">
				<th>Regular Family Member</th>
				<td>Spouse or domestic partner of a <a href="#regularmember">Regular</a>, <a href="#sustainingmember">Sustaining</a>, or Founding Member.</td>
				<td class="text-right">$10</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Regular family membership">
						<input type="hidden" name="amount" value="10.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay regular family membership fee through PayPal" alt="Pay regular family membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr id="studentmember">
				<th>Student Member</th>
				<td>
					<p>
						Any full-time (degree-seeking) student.
					</p>
					<p><small><em>
							Student membership requires the signature of the faculty advisor confirming that the applicant is a student.
					</em></small></p>
				</td>
				<td class="text-right">$20</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Student membership">
						<input type="hidden" name="amount" value="20.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay student membership fee through PayPal" alt="Pay student membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr id="studentfamilymember">
				<th>Student Family Member</th>
				<td>Spouse or domestic partner of a <a href="#studentmember">Student Member</a>.</td>
				<td class="text-right">$5</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Student family membership">
						<input type="hidden" name="amount" value="5.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay student family membership fee through PayPal" alt="Pay student family membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr id="sustainingmember">
				<th>Sustaining Member</th>
				<td></td>
				<td class="text-right">$80</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Sustaining membership">
						<input type="hidden" name="amount" value="80.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay sustaining membership fee through PayPal" alt="Pay sustaining membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr id="lifemember">
				<th>Life Member</th>
				<td>One-time payment.</td>
				<td class="text-right">$1000</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Life membership">
						<input type="hidden" name="amount" value="1000.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay life membership fee through PayPal" alt="Pay life membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr>
				<th>Life Family Member</th>
				<td>
					Spouse or domestic partner of a <a href="#lifemember">Life Member</a> &mdash; one-time payment.
					Or $10 each year &mdash; see <a href="#familymember">Family Member</a>, above.
				</td>
				<td class="text-right">$250</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Life family membership">
						<input type="hidden" name="amount" value="250.00">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-BuyNowBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" title="Pay life family membership fee through PayPal" alt="Pay life family membership fee through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			<tr>
				<th>Donation</th>
				<td>Make a donation to the society.</td>
				<td class="text-right">&mdash;</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="Make a donation to the Society">
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="tax" value="0">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="PP-DonationsBF">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Make a donation to the Society through PayPal" title="Make a donation to the Society through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-center">
					All web transactions are securely handled through PayPal&trade;.
					Major credit cards are accepted.
				</td>
			</tr>
		</tfoot>
	</table>
</section>