<section id="intro">
	<h1>How to Join</h1>
	<p>
		The <strong>International Society for Phylogenetic Nomenclature</strong> (<abbr><strong>ISPN</strong></abbr>) is a not-for-profit organization that supports the development of phylogenetic nomenclature.
		Memberships are by the calendar year (January 1 to December 31).
		You may join by using one of these options:
	</p>
	<ul>
		<li>
			<strong>Pay via PayPal&trade;</strong> using any major credit card on their secure site.
			(You do not need a PayPal&trade; account).
			See <a href="#membershiptypes">Membership Types</a>, below, and click on the appropriate <i><b>Pay Now</b></i> button.
		</li>
		<li>Fill out the <a href="pdf/ISPN_MembForm.pdf">membership form</a> and send payment to the Treasurer, using one of these options:
			<ul>
				<li><strong>Check</strong> (U.S. only)</li>
				<li><strong>Bank draft</strong> (contact the Treasurer for details)</li>
			</ul>
	</ul>
	<dl>
		<dt>Treasurer</dt>
		<dd>
			<address>
				T. Michael Keesey<br>
			  	P.O. Box 9630<br>
			  	Glendale, CA 91226<br>
			  	U.S.A.
			  	<script type="text/javascript">befuddle_epadr("keesey","gmail.com");</script>
			</address>
		</dd>
	</dl>
</section>
<section id="membershiptypes">
	<h2>Membership Types</h2>
	<table class="table table-striped">
		<tbody>
			{{#types}}
			<tr id="{{id}}">
				<th>{{name}}</th>
				<td>
					{{#description}}<p>{{{description}}}</p>{{/description}}
					{{#note}}<p><small><em>{{{note}}}</em></small></p>{{/note}}
				</td>
				<td class="text-right">{{#amount}}${{amount}}{{/amount}}{{^amount}}&mdash;{{/amount}}</td>
				<td>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="ncellinese@ufl.edu">
						<input type="hidden" name="item_name" value="{{item_name}}">
						{{#amount}}
						<input type="hidden" name="amount" value="{{amount}}">
						{{/amount}}
						<input type="hidden" name="no_shipping" value="0">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="bn" value="{{bn}}">
						<input type="image" src="https://www.paypal.com/en_US/i/btn/{{btn}}.gif" border="0" name="submit" title="Pay through PayPal" alt="Pay through PayPal" align="middle">
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
			{{/types}}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-center">
					All web transactions are securely handled through PayPal&trade;.
					Major credit cards are accepted.
				</td>
			</tr>
		</tfoot>
	</table>
</section>