<p>
	<strong>{{date-string}}</strong>
	&mdash;
	As of today, a total of 303 contributions have been received, each dealing with a particular name/clade combination.
	Of these, 21 were subsequently either rejected by the editors or withdrawn or abandoned by the authors.
	Of the remaining 282 contributions, 271 (96%) have been accepted.
	The 11 contributions that are still in progress were submitted by 4 sets of authors.
</p>
<p>
	The editors expect to complete the manuscript by the end of 2017.
</p>
<small>
	Report prepared by Phil Cantino with input from Kevin de Queiroz and Jacques Gauthier.
</small>
